<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="/header"></th:block>

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>COURSE PAGE</h1>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Course Form</h5>

          <!-- Vertical Form -->
          <form class="row g-3" th:action="@{/courses/new}" method="post" th:object="${course}">
            <div class="col-12">
              <label class="col-sm-12 col-form-label">Academic Unit:</label>
              <div class="col-sm-12">
                <select class="form-select" name="accUnit" id="accUnit" th:field="*{accUnit.acc_id}">
                  <th:block th:each="acadUnit: ${academicUnits}">
                    <option th:if="${acadUnit.unit.name == 'DEPARTMENT'}" th:value="${acadUnit.acc_id}">[[${acadUnit.name}]]</option>
                  </th:block>
                </select>
              </div>
            </div>

            <div class="col-12">
              <label class="col-sm-12 col-form-label">Course Definition:</label>
              <div class="col-sm-12">
                <select class="form-select" name="courseDefinition" id="courseDefinition" th:field="*{courseDefinition.course_def_Id}">
                  <th:block th:each="courseDef: ${courseDefinitions}">
                    <option th:value="${courseDef.course_def_Id}">[[${courseDef.courseCode}]] - [[${courseDef.courseName}]]</option>
                  </th:block>
                </select>
              </div>
            </div>
            <div class="col-12">
              <label class="col-sm-12 col-form-label">Tutor:</label>
              <div class="col-sm-12">
                <select class="form-select" name="tutor" id="tutor" th:field="*{tutor.idTeach}">
                  <th:block th:each="tut: ${teachers}">
                    <option th:value="${tut.idTeach}">[[${tut.namesTeach}]]</option>
                  </th:block>
                </select>
              </div>
            </div>
            <div class="col-12">
              <label class="col-sm-12 col-form-label">Assistant:</label>
              <div class="col-sm-12">
                <select class="form-select" name="assistant" id="assistant" th:field="*{assistant.idTeach}">
                  <th:block th:each="assist: ${teachers}">
                    <option th:value="${assist.idTeach}">[[${assist.namesTeach}]]</option>
                  </th:block>
                </select>
              </div>
            </div>

            <div class="col-12">
              <label class="col-sm-12 col-form-label">Semester:</label>
              <div class="col-sm-12">
                <select class="form-select" name="semester" id="semester" th:field="*{semester.semID}">
                  <th:block th:each="sem: ${semesters}">
                    <option th:value="${sem.semID}">[[${sem.semCode}]] - [[${sem.semNames}]]</option>
                  </th:block>
                </select>
              </div>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary">Submit</button>
              <button type="reset" class="btn btn-secondary">Reset</button>
            </div>
          </form><!-- Vertical Form -->

        </div>
      </div>
    </section>

    <div class="pagetitle">
      <h1>COURSE TABLE</h1>
      <nav>
        <ol class="breadcrumb">
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">LIST OF COURSES</h5>
              <p></p>

              <!-- Table with stripped rows -->
              <table class="table datatable">
                <thead>
                <tr>
                  <th scope="col" hidden="true">ID</th>
                  <th scope="col">ACADEMIC UNIT</th>
                  <th scope="col">COURSE DEFINITION</th>
                  <th scope="col">TUTOR</th>
                  <th scope="col">ASSISTANT</th>
                  <th scope="col">SEMESTER</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="course:${courses}">
                  <td th:text="${course.course_id}" hidden="true"></td>
                  <td th:text="${course.accUnit.name}"></td>
                  <td th:text="${course.courseDefinition.courseName}"></td>
                  <td th:text="${course.tutor.namesTeach}"></td>
                  <td th:text="${course.assistant.namesTeach}"></td>
                  <td th:text="${course.semester.semNames}"></td>
                </tr>
                </tbody>
              </table>
              <!-- End Table with stripped rows -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->

  <th:block th:replace="/footer :: #footer"></th:block> <!--Link the footer -->

</body>
</html>