<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="/header"></th:block>

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>LIST COURSE PER STUDENT</h1>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Listing Form</h5>

          <!-- Vertical Form -->
          <form class="row g-3" method="get" th:action="@{/listCoursePerStudent}" th:object="${studentRegistration}">
            <div class="col-12">
              <label class="col-sm-12 col-form-label">CHOOSE THE STUDENT:</label>
              <div class="col-sm-12">
                <select class="form-select" name="studReg_id" id="studReg_id" th:field="*{studReg_id}">
                  <th:block th:each="stud: ${studentRegistrations}">
                    <option th:if="${stud.studReg_id}" th:value="${stud.studReg_id}">[[${stud.student.regNo}]] - [[${stud.student.studNames}]]</option>
                  </th:block>
                </select>
              </div>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary">Find</button>
              <!--<button type="reset" class="btn btn-secondary">Reset</button> -->
            </div>
          </form><!-- Vertical Form -->

        </div>
      </div>
    </section>

    <div class="pagetitle">
        <h1>LISTS VIEW</h1>
        <nav>
          <ol class="breadcrumb">
          </ol>
        </nav>
      </div><!-- End Page Title -->

      <section class="section">
        <div class="row">
          <div class="col-lg-12">

            <div class="card">
              <div class="card-body">
                <!--<h5 class="card-title">CHOOSE BELOW THE LIST TO VIEW:</h5>

                 Table with stripped rows -->
                <table class="table datatable">
                  <thead>
                  <tr>
                    <th scope="col" hidden="true">COURSE ID</th>
                    <th scope="col">COURSE CODE</th>
                    <th scope="col">COURSE NAME</th>
                    <th scope="col">CREDITS</th>
                    <th scope="col">RESULTS</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr th:each="cour: ${courseList}">
                    <td th:text="${cour.stud_CourseId}" hidden="true"></td>
                    <td th:text="${cour.course.courseDefinition.courseCode}"></td>
                    <td th:text="${cour.course.courseDefinition.courseName}"></td>
                    <td th:text="${cour.credits}"></td>
                    <td th:text="${cour.results}"></td>
                  </tr>
                  </tbody>
                </table>
                <!-- End Table with stripped rows -->

              </div>
            </div>

          </div>
        </div>
      </section>

  </main><!-- End #main -->

  <th:block th:replace="/footer :: #footer"></th:block> <!--Link the footer -->

</body>

</html>