<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>LIST COURSE PER DEPARTMENT / SMS</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a th:href="@{/index}" class="logo d-flex align-items-center">
        <img src="assets/img/AUCA.png" alt="">
        <span class="d-none d-lg-block">AUCA</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <!--<div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div> End Search Bar -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " th:href="@{/index}">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#academicUnit-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-bar-chart"></i><span>ACADEMIC UNITS</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="academicUnit-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a class="" th:href="@{/academicUnits}">
              <i class="bi bi-circle"></i><span>Academic Units Form</span>
            </a>
          </li>
        </ul>
      </li><!-- End Components Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#teacher-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-person"></i><span>TEACHERS</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="teacher-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a class="" th:href="@{/teachers}">
              <i class="bi bi-circle"></i><span>Teachers Form</span>
            </a>
          </li>
        </ul>
      </li><!-- End Components Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#semester-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-card-list"></i><span>SEMESTERS</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="semester-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a class="" th:href="@{/semesters}">
              <i class="bi bi-circle"></i><span>Semesters Form</span>
            </a>
          </li>
        </ul>
      </li><!-- End Components Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#student-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>STUDENTS</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="student-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a class="" th:href="@{/students}">
              <i class="bi bi-circle"></i><span>Students Form</span>
            </a>
          </li>
          <li>
            <a class="" th:href="@{/studentRegistrations}">
              <i class="bi bi-circle"></i><span>Student Registrations Form</span>
            </a>
          </li>
        </ul>
      </li><!-- End Components Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-journal-text"></i><span>COURSES</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">

          <li>
            <a class="" th:href="@{/courseDefinitions}">
              <i class="bi bi-circle"></i><span>Course Definitions Form</span>
            </a>
          </li>
          <li>
            <a class="" th:href="@{/courses}">
              <i class="bi bi-circle"></i><span>Courses Form</span>
            </a>
          </li>
          <li>
            <a class="" th:href="@{/studentCourses}">
              <i class="bi bi-circle"></i><span>Student Courses Form</span>
            </a>
          </li>
        </ul>
      </li><!-- End Forms Nav -->

      <li class="nav-heading">Others</li>

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#listing-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-box-arrow-in-right"></i><span>LISTS</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="listing-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">

          <li>
            <a class="" th:href="@{/listCoursePerStudent}">
              <i class="bi bi-circle"></i><span>List Courses Per Student</span>
            </a>
          </li>
          <li>
            <a class="" th:href="@{/listStudentPerSemester}">
              <i class="bi bi-circle"></i><span>List Student Per Semester</span>
            </a>
          </li>
          <li>
            <a class="" th:href="@{/listStudentPerCourseAndSemester}">
              <i class="bi bi-circle"></i><span>List Student Per Course And Semester</span>
            </a>
          </li>
          <li>
            <a class="" th:href="@{/listStudentPerDepartmentAndSemester}">
              <i class="bi bi-circle"></i><span>List Student Per Department And Semester</span>
            </a>
          </li>
          <li>
            <a class="" th:href="@{/listCoursePerDepartmentAndSemester}">
              <i class="bi bi-circle"></i><span>List Course Per Department And Semester</span>
            </a>
          </li>
        </ul>
      </li><!-- End Forms Nav -->
      <!--<li class="nav-item">
        <a class="nav-link collapsed" href="pages-register.html">
          <i class="bi bi-card-list"></i>
          <span>Register</span>
        </a>
      </li> End Register Page Nav -->

      <!--<li class="nav-item">
        <a class="nav-link collapsed" th:href="@{/lists}">
          <i class="bi bi-box-arrow-in-right"></i>
          <span>Lists</span>
        </a>
      </li> End Login Page Nav -->
    </ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>LIST COURSE PER STUDENT</h1>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Listing Form</h5>

          <!-- Vertical Form -->
          <form class="row g-3" method="get" th:action="@{/listCoursePerStudent}" th:object="${studentRegistration}">
            <div class="col-12">
              <label class="col-sm-12 col-form-label">CHOOSE THE STUDENT:</label>
              <div class="col-sm-12">
                <select class="form-select" name="studReg_id" id="studReg_id" th:field="*{studReg_id}">
                  <th:block th:each="stud: ${studentRegistrations}">
                    <option th:if="${stud.studReg_id}" th:value="${stud.studReg_id}">[[${stud.student.regNo}]] - [[${stud.student.studNames}]]</option>
                  </th:block>
                </select>
              </div>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary">Find</button>
              <!--<button type="reset" class="btn btn-secondary">Reset</button> -->
            </div>
          </form><!-- Vertical Form -->

        </div>
      </div>
    </section>


    <div class="pagetitle">
        <h1>LISTS VIEW</h1>
        <nav>
          <ol class="breadcrumb">
          </ol>
        </nav>
      </div><!-- End Page Title -->

      <section class="section">
        <div class="row">
          <div class="col-lg-12">

            <div class="card">
              <div class="card-body">
                <!--<h5 class="card-title">CHOOSE BELOW THE LIST TO VIEW:</h5>
                <p></p>

                 Table with stripped rows -->
                <table class="table datatable">
                  <thead>
                  <tr>
                    <th scope="col" hidden="true">COURSE ID</th>
                    <th scope="col">COURSE CODE</th>
                    <th scope="col">COURSE NAME</th>
                    <th scope="col">CREDITS</th>
                    <th scope="col">RESULTS</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr th:each="cour: ${courseList}">
                    <td th:text="${cour.stud_CourseId}" hidden="true"></td>
                    <td th:text="${cour.course.courseDefinition.courseCode}"></td>
                    <td th:text="${cour.course.courseDefinition.courseName}"></td>
                    <td th:text="${cour.credits}"></td>
                    <td th:text="${cour.results}"></td>
                  </tr>
                  </tbody>
                </table>
                <!-- End Table with stripped rows -->

              </div>
            </div>

          </div>
        </div>
      </section>


  </main><!-- End #main -->


  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>JnJuste</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      Designed by <a href="https://bootstrapmade.com/">JAJA</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/chart.js/chart.umd.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="assets/vendor/quill/quill.min.js"></script>
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>