<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="/header"></th:block>

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>PAYMENTS</h1>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Payment Form</h5>

          <!-- Vertical Form -->
          <form class="row g-3" th:action="@{/payments/new}" method="post" th:object="${payment}">
            <div class="col-12">
              <label class="col-sm-12 col-form-label">Student ID & Name:</label>
              <div class="col-sm-12">
                <select class="form-select" name="studentRegistration" id="studentRegistration" th:field="*{studentRegistration.studReg_id}">
                  <th:block th:each="stud: ${studentRegistrations}">
                    <option th:value="${stud.studReg_id}">[[${stud.student.regNo}]] - [[${stud.student.studNames}]]</option>
                  </th:block>
                </select>
              </div>
            </div>

            <div class="col-12">
              <label for="inputDate" class="form-label">Payment Date:</label>
              <input type="date" class="form-control" id="inputDate" name="dateOfBirth" th:field="*{paymentDate}">
            </div>

            <div class="col-12">
              <label for="amount" class="form-label">Amount:</label>
              <input type="text" class="form-control" id="amount" name="amount" th:field="*{amount}">
            </div>

            <div class="text-center">
              <button type="submit" class="btn btn-primary">Confirm</button>
              <button type="reset" class="btn btn-secondary">Reset</button>
            </div>
          </form><!-- Vertical Form -->

        </div>
      </div>
    </section>


    <div class="pagetitle">
      <h1>PAYMENT TABLE</h1>
      <nav>
        <ol class="breadcrumb">
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">LIST OF STUDENT PAYMENTS</h5>
              <p></p>

              <!-- Table with stripped rows -->
              <table class="table datatable">
                <thead>
                <tr>
                  <th scope="col" hidden="true">ID</th>
                  <th scope="col">STUDENT NAME</th>
                  <th scope="col">PAYMENT DATE</th>
                  <th scope="col">AMOUNT</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="payment:${payments}">
                  <td th:text="${payment.paymentID}" hidden="true"></td>
                  <td th:text="${payment.studentRegistration.student.studNames}"></td>
                  <td th:text="${payment.paymentDate}"></td>
                  <td th:text="${payment.amount}"></td>
                </tr>
                </tbody>
              </table>
              <!-- End Table with stripped rows -->

            </div>
          </div>

        </div>
      </div>
    </section>


  </main><!-- End #main -->

  <th:block th:replace="/footer :: #footer"></th:block> <!--Link the footer -->

  <!-- Vendor JS Files -->
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/chart.js/chart.umd.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="assets/vendor/quill/quill.min.js"></script>
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>