<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="/header"></th:block>

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>STUDENT REGISTRATION PAGE</h1>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Student Registration Form</h5>

          <!-- Vertical Form -->
          <form class="row g-3" th:action="@{/studentRegistrations/new}" method="post" th:object="${studentRegistration}">
            <div class="col-12">
              <label class="col-sm-12 col-form-label">Student:</label>
              <div class="col-sm-12">
                <select class="form-select" name="student" id="student" th:field="*{student.student_id}">
                  <th:block th:each="stud: ${studentList}">
                    <option th:value="${stud.student_id}">[[${stud.regNo}]] - [[${stud.studNames}]]</option>
                  </th:block>
                </select>
              </div>
            </div>

            <div class="col-12">
              <label class="col-sm-12 col-form-label">Academic Unit:</label>
              <div class="col-sm-12">
                <select class="form-select" name="academicUnit" id="academicUnit" th:field="*{academicUnit.acc_id}">
                  <th:block th:each="acadUnit: ${academicUnits}">
                    <option th:if="${acadUnit.unit.name == 'DEPARTMENT'}" th:value="${acadUnit.acc_id}">[[${acadUnit.name}]]</option>
                  </th:block>
                </select>
              </div>
            </div>
            <div class="col-12">
              <label class="col-sm-12 col-form-label">Semester:</label>
              <div class="col-sm-12">
                <select class="form-select" name="semester" id="semester" th:field="*{semester.semID}">
                  <th:block th:each="sem: ${semesters}">
                    <option th:value="${sem.semID}">[[${sem.semCode}]] - [[${sem.semNames}]]</option>
                  </th:block>
                </select>
              </div>
            </div>
            <div class="col-12">
              <label class="col-sm-12 col-form-label">Status:</label>
              <div class="col-sm-12">
                <select class="form-select" name="ERegistrationStatus" id="ERegistrationStatus" th:field="*{ERegistrationStatus}">
                  <option value="ADMITTED">ADMITTED</option>
                  <option value="PENDING">PENDING</option>
                  <option value="REJECTED">REJECTED</option>
                </select>
              </div>
            </div>

            <div class="col-12">
              <label for="inputDate" class="form-label">Reg Date:</label>
              <input type="date" class="form-control" id="inputDate" name="registrationDate" th:field="*{registrationDate}">
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary">Submit</button>
              <button type="reset" class="btn btn-secondary">Reset</button>
            </div>
          </form><!-- Vertical Form -->

        </div>
      </div>
    </section>

    <div class="pagetitle">
      <h1>STUDENT REGISTRATION TABLE</h1>
      <nav>
        <ol class="breadcrumb">
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">LIST OF STUDENT REGISTRATIONS</h5>
              <p></p>

              <!-- Table with stripped rows -->
              <table class="table datatable">
                <thead>
                <tr>
                  <th scope="col" hidden="true">ID</th>
                  <th scope="col">STUDENT</th>
                  <th scope="col">ACADEMIC UNIT</th>
                  <th scope="col">SEMESTER</th>
                  <th scope="col">REG STATUS</th>
                  <th scope="col">REG DATE</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="studentRegistration:${studentRegistrations}">
                  <td th:text="${studentRegistration.studReg_id}" hidden="true"></td>
                  <td th:text="${studentRegistration.student.studNames}"></td>
                  <td th:text="${studentRegistration.academicUnit.name}"></td>
                  <td th:text="${studentRegistration.semester.semNames}"></td>
                  <td th:text="${studentRegistration.ERegistrationStatus}"></td>
                  <td th:text="${studentRegistration.registrationDate}"></td>
                </tr>
                </tbody>
              </table>
              <!-- End Table with stripped rows -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->

  <th:block th:replace="/footer :: #footer"></th:block> <!--Link the footer -->

  <!-- Vendor JS Files -->
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/chart.js/chart.umd.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="assets/vendor/quill/quill.min.js"></script>
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
</body>

</html>